<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- macro args -->
  <xacro:arg name="ns" default="" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="trans_hw_iface" default="hardware_interface/PositionJointInterface" />

  <!-- include gazebo files -->
  <xacro:include filename="$(find armada_gazebo)/panda/xacro/macro.gazebo.xacro" />
  <xacro:include filename="$(find armada_gazebo)/panda/xacro/macro.gazebo_sensor.xacro" />

  <!-- include control files -->
  <xacro:include filename="$(find armada_description)/panda/xacro/macro.ros2_control.xacro" />
  <xacro:include filename="$(find armada_description)/panda/xacro/macro.transmission.xacro" />

  <!-- include dexcription files -->
  <xacro:include filename="$(find armada_description)/panda/xacro/macro.panda.urdf.xacro" />
  <xacro:include filename="$(find armada_description)/workstation/xacro/macro.simple_pedestal.urdf.xacro" />  

  <!-- panda gazebo components -->
  <xacro:panda_gazebo ns="$(arg ns)" prefix="$(arg prefix)" />
  <xacro:panda_gazebo_sensor ns="$(arg ns)" prefix="$(arg prefix)" />

  <!-- panda control components-->
  <xacro:panda_transmission prefix="$(arg prefix)" hw_iface="$(arg trans_hw_iface)" />
  <xacro:panda_ros2_control ns="$(arg ns)" prefix="$(arg prefix)" />

  <!-- pedestal -->
  <xacro:simple_pedestal ns="$(arg ns)" prefix="$(arg prefix)" />

  <!-- panda -->
  <xacro:panda ns="$(arg ns)" prefix="$(arg prefix)" parent="simple_pedestal" />

</robot>







