<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- macro args -->
  <xacro:arg name="ns" default="" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="trans_hw_iface" default="hardware_interface/PositionJointInterface" />

  <!-- include gazebo files -->
  <xacro:include filename="$(find armada_gazebo)/tm5-700/xacro/macro.gazebo.xacro" />
  <xacro:include filename="$(find armada_gazebo)/tm5-700/xacro/macro.gazebo_sensor.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/macro.materials.xacro" />

  <!-- include control files -->
  <xacro:include filename="$(find armada_description)/tm5-700/xacro/macro.ros2_control.xacro" />
  <xacro:include filename="$(find armada_description)/tm5-700/xacro/macro.transmission.xacro" />

  <!-- include dexcription files -->
  <xacro:include filename="$(find armada_description)/tm5-700/xacro/macro.tm5-700-nominal.urdf.xacro" />
  <xacro:include filename="$(find armada_description)/workstation/xacro/macro.simple_pedestal.urdf.xacro" />  

  <!-- panda gazebo components -->
  <xacro:tmr_gazebo ns="$(arg ns)" prefix="$(arg prefix)" />
  <xacro:tmr_gazebo_sensor ns="$(arg ns)" prefix="$(arg prefix)" />
  <xacro:tmr_materials/>

  <!-- tm5-700 control components-->
  <xacro:tmr_transmission prefix="$(arg prefix)" hw_iface="$(arg trans_hw_iface)" />
  <xacro:tm5-700_ros2_control ns="$(arg ns)" prefix="$(arg prefix)" />

  <!-- pedestal -->
  <xacro:simple_pedestal ns="$(arg ns)" prefix="$(arg prefix)" />

  <!-- tm5-700 -->
  <xacro:tm5-700 ns="$(arg ns)" prefix="$(arg prefix)" parent="simple_pedestal" />

</robot>







